/* Main styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* resets */
body,
p {
    margin: 0;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

/* common styles */
.site-content {
    width: 1180px;
    margin: auto;
}

/* Header With Background */
.hero {
    background-image: url('/public/img/hero-section-bg.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: white;
    position: relative;
}

/* Navigation */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 182px;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

.logo img{
    width: 235px;
    height: 45px;
    /* aspect-ratio: auto 235 / 45; */
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Rubik';
    cursor: pointer;
}

.signup-btn {
    background-color: #FF7757;
    border: none;
    padding: 20px 32px;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

.login-btn {
    background-color: transparent;
    padding: 20px 36px 20px 0;
    color: white;
    border-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

#hamburger-menu, 
#hamburger menu img {    
    display: none;
    position: relative;
    cursor: pointer; 
}

/* Main Content */
.hero {
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}

.hero-content {
    position: absolute;
    left: 0; 
    top: 270px;
    padding-left: 182px;
    text-align: start;
    max-width: 1200px;
}

.hero-content h1 {
    font-size: 82px;
    color: white;
    font-family: 'Playfair Display';
    font-weight: 100;
}

.hero-content p {
    margin-top: 16px;
    font-size: 24px;
    font-family: 'Rubik';
    color: white;
}

/* Travel form */

.travel-form {
    position: absolute;
    left: 0;
    top: 700px;
}

form {
    display: flex;
    align-items: stretch;
    position: absolute;
    flex-flow: row nowrap;
    border-radius: 0 15px 15px 0;
    background-color: white;
    left: 0;
    padding-left: 182px;
}

.travel-form-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    align-items: center;
    padding: 74px 100px 74px 0;

    margin: auto 0; /* vertically center only this wrapper */
}

.travel-form-wrapper div {
    display: flex;
    flex-direction: column;
    height: 65px;
}

.travel-form input,
.travel-form select {
    max-width: 225px;
    border: 0;
    font-family: 'Playfair Display';
    font-size: 20px;
    border-bottom: 1px solid #172432;
}

.travel-form form label {
    font-family: 'Rubik';
    font-size: 16px;
    color: #767E86;
}

.book-now {
    background-color: #FF7757;
    color: white;
    font-family: 'Playfair Display';
    font-size: 36px;
    align-content: center;
    border: none;
    border-radius: 0 15px 15px 0;
    /* border-radius: top-left corner | top-right corner | bottom-right corner | bottom-left corner */
    padding: 60px 53px 60px 0; /* padding: top | right | bottom | left */
    width: 170px;
}

.slider {
    margin-right: -95%;
}

@media screen and (max-width: 1440px) {
    .nav-bar {
        padding: 41px 32px;
    }

    .hero-content, .travel-form {
        padding-left: 32px;
    }

    .travel-form form {
        padding-left: 0;
    }

    .travel-form-wrapper {
        padding-left: 32px;
    }
}

@media screen and (max-width: 1280px) { 
    .nav-bar {
        padding: 41px 32px;
    }

    .nav-links ul{
        gap: 20px;
    }

    .travel-form {
        top: 554px;
    }

    .travel-form-wrapper {
        padding: 23px 50px 23px 32px;
    }

    .book-now{
        padding: 40px 53px 40px 20px;
        width: 150px;
    }

    .hero {
        height: 76vh;
    }

    .hero-content {
        top: 200px;
        left: 0;
        max-width: 800px;
    }

    .hero-content h1 {
        font-size: 64px;
    }

    .travel-form input,
    .travel-form select {
        max-width: 170px;
    }
}

@media screen and (max-width: 1024px){

    .travel-form-wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 23px 100px 23px 32px;
        gap: 43px;
    }

    #hamburger-menu,
    #hamburger-menu img{  
        display: block;
    }

    .nav-links, 
    .nav-login {
        display: none;
    }

    .travel-form input,
    .travel-form select {
        max-width: 225px;
    }
}

@media screen and (max-width: 768px){

    .travel-form {
        top: 500px;
        position: absolute;
        padding: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .travel-form form {
        padding: 0;
        position: relative;
        width: 100%;
        flex-flow: column;
        justify-items: stretch;
        border-radius: 15px; 
    }

    .travel-form-wrapper {
        padding: 40px;
    }

    .book-now {
        padding: 40px 53px 40px 0px;
        width: 100%;
        border-radius: 0 0 15px 15px; 
    }

    .hero {
        height: 100vh;
        width: 100vw;
    }

    .hero-content {
        top: 198px;
        max-width: 700px;
    }

    .hero-content h1 {
        font-size: 50px;
    }
}

@media screen  and (max-width: 600px){
    .hero-content {
        top: 180px;
        max-width: 500px;
        padding-left: 32px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 21px;
    }

    .travel-form {
        top: 450px;
    }

    .travel-form-wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        padding: 25px 40px 80px 40px;
        gap: 43px;
    }

    .slider {
        display: none;
    }
}

@media screen  and (max-width: 460px){
    .hero-content {
        max-width: 400px;
        padding-left: 16px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .travel-form-wrapper {
        padding: 25px 30px 80px 30px;
    }
}
